<div class="card">
  <h2>[[ title ]]</h2>
  <p>[[ text ]]</p>
  <strong>Number: [[ number ]]</strong>
  <em>[[ array ]]</em>
  <pre>Use pipe [[ obj | json ]]</pre>
  <p>[[ getInfo() ]]</p>
  <div class="card__img">
    <img width="700" [src]="imgUrl">
    <br>
    <button [disabled]="disabled">
      Enable
    </button>
  </div>
  <div class="buttons">
    <button (click)="changeTitle()">
      Change title
    </button>
    <button (click)="title = 'Inline title'">
      Change title inline
    </button>
  </div>
  <!-- <div>
    <input
      type="text"
      #myInput
      (input)="inputHunler(myInput.value)"
      [value]="title"
    >
  </div> -->
  <div>
    <input
      type="text"
      [(ngModel)]="title"
      (ngModelChange)="changeHandler()"
    >
  </div>
</div>